<div class="bg-about register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">About</h1>
    </div>
    <div style="flex: 1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    We're always trying to seek you feeback to improve.<br>
    What did we do well? What could we do better?<br>
    Athletes need feedback to improve just like us.<br>
    Please share your thoughts below so we can<br>
    make a product that leagues and coaches love.
  </p>

</div>