<div class="bg-about register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">About</h1>
    </div>
    <div style="flex: 1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    <span style="font-weight: bold;">Coaches - Put down your clipboard and step away</span><br><br>

    YouthDraft is dedicated to bringing youth sports assessments out of the darkness and into the light<br><br>
    
    Since originally conceived in 2015, YouthDraft has been passionately dedicated to building a suite of tools that will dramatically improve the process of conducting assessments and player drafts for youth sports program. As we continue to innovate, grow and improve the service we will remain loyal to our original vision - to provide a tool that allows leagues and coaches to put down their clipboards and to give them the gift of time by leveraging technology to improve the player assessment and draft process.<br><br>
    
    Our team is a group of parents, working professionals, coaches, sports enthusiasts and athletes that believe youth sports is long overdue for a better solution - YouthDraft is that solution. By leveraging cutting edge technology and a dedicated team of professionals our goal remains to change youth sports by giving leagues and coaches the gift of time as we revolutionize the way that youth sports programs conduct assessments, evaluate players and build competitive teams. Join us.<br><br>
    
    YouthDraft - Rank, Draft, Win
  </p>

</div>