<div class="bg-coach register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">Thank You!</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  
  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    <i class="icon ion-ios-checkmark-outline" style="font-size: 800%;"></i><br>
    The League administrators have received<br>
    your information and will review.<br><br>
    Once approved, they will send an email to you<br>
    and assign a team to coach.<br><br>
    Best of luck this season!
  </p>
  
</div>