<div class="bg-league register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="../../../../../assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">Create a League</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    By creating a League, you will be the sole administator.<br>
    As the admin you can add coaches, players, change tryout<br>
    dates and times, and define the player assessment criteria.<br>
    Up for the task? Let's get started below:
  </p>
  
  <form 
    (ngSubmit)="next()"
    #form="ngForm"
    style="align-items: flex-start; display: flex; justify-content: space-around;">

    <!-- Left Column -->
    <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
      <!-- First Name -->
      <input [(ngModel)]="session.newUser.firstName" name="firstName" placeholder="First Name" required type="text">

      <!-- Last Name -->
      <input [(ngModel)]="session.newUser.lastName" name="LastName" placeholder="Last Name" required type="text">

      <!-- League Name -->
      <input [(ngModel)]="session.newUser.leagueName" name="leagueName" placeholder="League Name" required type="text">
    </div>

    <!-- Right Column -->
    <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
      <!-- Email -->
      <input [(ngModel)]="session.newUser.email" name="email" placeholder="Email Address" required type="text">

      <!-- Phone Number -->
      <div style="margin-bottom: 2%; width: 50%;">
        <label>Phone Number</label>
      </div>
      <div style="display: flex; margin-bottom: 2%; width: 50%;">
        <input
          [(ngModel)]="session.newUser.area"
          maxlength="3"
          name="area"
          placeholder="123"
          required
          style="margin-bottom: 0; margin-right: 5px;"
          type="text">
        <input
          [(ngModel)]="session.newUser.prefix"
          maxlength="3"
          name="prefix"
          placeholder="456"
          required
          style="margin-bottom: 0; margin-right: 5px;"
          type="text">
        <input
          [(ngModel)]="session.newUser.line"
          maxlength="4"
          name="line"
          placeholder="7890"
          required
          style="margin-bottom: 0;"
          type="text">
      </div>

      <div style="display: flex; justify-content: space-between; width: 50%;">
        <!-- City -->
        <div style="flex: 2; margin-right: 5px;">
          <input
            [(ngModel)]="session.newUser.city"
            name="city"
            placeholder="City"
            required
            style="width: 100%"
            type="text">
        </div>

        <!-- State -->
        <div style="flex: 1">
          <input
            [(ngModel)]="session.newUser.state"
            maxLength="2"
            name="state"
            placeholder="State"
            required
            style="width: 100%"
            type="text">
        </div>
      </div>

      <!-- Next -->
      <div style="display: flex; justify-content: flex-end; margin-top: 10%; width: 50%;">
        <button
          class="bg-blue btn"
          [disabled]="!form.form.valid"
          [ngStyle]="{cursor: form.form.valid ? 'pointer' : 'not-allowed',
            opacity: form.form.valid ? 1.0 : 0.5}"
          type="submit">
          Next
        </button>
      </div>
    </div>
    
  </form>
</div>