<!-- YouthDraft -->
<div style="background-image: url('../../../assets/index-0.png'); background-size: cover; padding: 20px;">
  <div style="align-items: center; display: flex; justify-content: flex-end">
    <a routerLink="/league/login" routerLinkActive="active-link" style="color: white; font-size: 25px;">
      League Login
    </a>
    <p style="color: white; font-size: 25px;">&nbsp;|&nbsp;</p>
    <a routerLink="/coach/login" routerLinkActive="active-link" style="color: white; font-size: 25px;">
      Coach Login
    </a>
  </div>
  
  <div style="display: flex; justify-content: center;">
    <img src="../../../assets/logo.png" style=" object-fit: contain; width: 400px;">
  </div>

  <p style="color: white; font-size: 40px; padding: 1%; text-align: center">
    The modern way to manage<br>
    youth sports assessments
  </p>
  
  <!-- Buttons -->
  <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; margin: 5% 0%;">
    <button 
      class="bg-blue"
      (click)="router.navigate(['/league/register'])"
      style="border: none; border-radius: 5px; color: white; font-size: 20px; padding: 20px;">
      Create League Account
    </button>
    <button 
      class="bg-green"  
      (click)="router.navigate(['/coach/register'])"
      style="border: none; border-radius: 5px; color: white; font-size: 20px; padding: 20px;">
      Create Coach Account
    </button>
  </div>
</div>

<!-- What is YouthDraft? -->
<div style="color: #787878; padding: 5%;">
  <h1 style="font-size: 40px; padding: 5%; text-align: center;">What is YouthDraft?</h1>
  
  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <div style="align-items: center; display: flex; flex:1; flex-direction: column;">
      <i class="icon ion-clipboard" style="color: #787878; font-size: 1000%;"></i>
      <p style="font-size: 25px; padding: 10%;">
        YouthDraft is a modern tool for an age-old problem.
        We are bringing the assessment and draft process for youth sports from the clipboard
        to the digital age.
      </p>
    </div>
    <div style="align-items: center; display: flex; flex:1; flex-direction: column;">
      <i class="icon ion-clock" style="color: #787878; font-size: 1000%;"></i>
      <p style="font-size: 25px; padding: 10%;">
        Still using Excel to manage player assessments?
        Recover lost time in transferring them to excel using our web and mobile app solution.
      </p>
    </div>
    <div style="align-items: center; display: flex; flex:1; flex-direction: column;">
      <i class="icon ion-ios-baseball-outline" style="color: #787878; font-size: 1000%;"></i>
      <p style="font-size: 25px; padding: 10%;">
        YouthDraft is a tool that will save leagues, managers, and coaches countless hours
        while offering the ability to automate the assessment process.
      </p>
    </div>
  </div>
</div>

<!-- How can I get YouthDraft? -->
<div style="background-image: url('../../../assets/index-1.png'); background-size: cover; color: white; padding: 20px;">
  <h1 style="font-size: 40px; padding: 5%; text-align: center;">How can I get YouthDraft?</h1>
  
  <div style="display: flex; padding: 5%;">
    <div style="flex: 4;">
      <p style="font-size: 25px;">
        YouthDraft is available on web and mobile for little league baseball to
        provide you the easiest way to evaluate talent.
        Start a league or join an existing one as a coach.<br><br>
  
        Want it for your sport? Hit the contact button in the bottom right and
        let us know what sport you want to use YouthDraft in next.
      </p>
    </div>
    <div style="flex: 3"></div>
  </div>
  
  <!-- App store/Google play -->
  <div style="display: flex;">
    <div style="display: flex; flex: 4; justify-content: space-around;">
      <a href="">
        <img src="../../../assets/index-store.png" style="object-fit: contain; height: 50px;">
      </a>
      <a href="">
        <img src="../../../assets/index-play.png" style="object-fit: contain; height: 50px;">
      </a>
    </div>
    <div style="display: flex; flex: 3;"></div>
  </div>


  <!-- Buttons -->
  <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; margin: 5% 0%;">
    <button 
      class="bg-blue"
      (click)="router.navigate(['/league/register'])"
      style="border: none; border-radius: 5px; color: white; font-size: 20px; padding: 20px;">
      Create League Account
    </button>
    <button 
      class="bg-green"  
      (click)="router.navigate(['/coach/register'])"
      style="border: none; border-radius: 5px; color: white; font-size: 20px; padding: 20px;">
      Create Coach Account
    </button>
  </div>
</div>

<!-- Footer -->
<div style="align-items: center; display: flex; justify-content: space-between;">
  <div style="display: flex; padding: 20px;">
    <a href="https://www.facebook.com/YouthDraft" style="margin-right: 20px;">
      <i class="icon ion-social-facebook-outline" style="color: #787878; font-size: 200%;"></i>
    </a>
    <a href="https://www.instagram.com/YouthDraftApp/" style="margin-right: 20px;">
      <i class="icon ion-social-instagram-outline" style="color: #787878; font-size: 200%;"></i>
    </a>
    <a href="https://twitter.com/YouthDraftApp">
      <i class="icon ion-social-twitter-outline" style="color: #787878; font-size: 200%;"></i>
    </a>
  </div>
  
  <div style="display: flex; padding: 20px;">
    <a href="" style="color: #787878;">About</a>
    <p>&nbsp;|&nbsp;</p>
    <a href="" style="color: #787878;">FAQ</a>
    <p>&nbsp;|&nbsp;</p>
    <a href="" style="color: #787878;">Contact</a>
  </div>
</div>