<div style="height: 100%; display: flex; flex-direction: column;">
  <div style="flex: 1; padding: 25px;">
    <h1>Available Players</h1><br>
    <p>Here you can view all available players in your division</p>
  </div>

  <div style="background-color: #f0f1f2; flex: 11; display: flex; flex-direction: column; padding: 20px;">
    <div style="background-color: white; height: 100%; overflow: auto; padding: 25px;">
      <table>
        <thead>
          <tr>
            <th>Player Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Parent Email</th>
            <th>League</th>
            <th>DOB</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players">
            <td>{{player.firstName}} {{player.lastName}}</td>
            <td>{{player.leagueAge}}</td>
            <td>{{player.gender}}</td>
            <td>{{player.phoneNumber}}</td>
            <td>{{player.email}}</td>
            <td>{{player.division}}</td>
            <td>{{player.dob}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>