<div class="bg-league register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="../../../../../assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">Would you like to reject this application?</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  <div *ngIf="!success" style="align-items: center; display: flex; flex-direction: column; margin-top: 50px;">
    <p style="text-align: center;">
      This Coach won't have access to your League if you reject this application.
    </p>
    <button class="btn bg-blue" (click)="reject()">
      Reject
    </button>
    <a routerLink="/" style="color: white; text-decoration: none;">Cancel</a>
  </div>

  <!-- Success -->
  <div *ngIf="success"  style="align-items: center; display: flex; flex-direction: column; margin-top: 50px;">
    <p style="text-align: center;">
      You have successfully declined the application.
    </p>
  </div>
</div>