<div class="bg-league register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="../../../../../assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">Upload Team Roster</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    Please upload an excel/csv of your teams for this season in the following format.<br><br>
    We promise we don't share any of this information to a third party.
  </p>
  
  <div style="align-items: center; display: flex; flex-direction: column;">
    <img src="../../../../../assets/team-template.png" style="object-fit: contain; max-width: 90%;">
    <a 
      download
      href="../../../../../assets/teams.xlsx"
      style="color: #cce6ff; cursor: pointer; font-size: 20px; margin-top: 5px;">
      Click <span style="text-decoration: underline;">here</span> to download our template
    </a>

    <div style="display: flex; justify-content: space-between;">
      <div style="flex: 1; padding: 20px;">
        <p style="color: white; font-size: 20px;">
          <span style="font-weight: bold;">Formatting Notes:</span><br>
          <span style="margin-left: 20px;">- available Divisions are:<br></span>
          <span style="margin-left: 40px;">- 8U, 9U, ..., 17U, 18U, A, AA, AAA, Farm, Majors, Intermediate, T-ball, Rookie</span><br><br>
        </p>
      </div>
      <div style="flex: 1; padding: 20px;">
        <p style="color: white; font-size: 20px;">
          <span style="font-weight: bold;">Upload roster template:</span><br>
          Once you populate the template from above, upload it here:
        </p>
    
        <div style="align-items: center; display: flex; flex-direction: column; justify-content: center">
          <label for="upload" class="btn" style="background-color: #a2a2a2; text-align: center;">Upload</label>
          <input
            accept=".csv, .xlsx"
            (change)="upload($event)"
            id="upload"
            name="teams"
            required
            style="display: none;"
            type="file">
          <p *ngIf="file">{{file}}</p>
          
          <!-- Next -->
          <button  class="bg-blue btn" (click)="next()" [disabled]="!file" style="margin-top: 10%;">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>