<div style="display: flex; position: absolute; left: 0; top: 0; right: 0; bottom: 0;">
  <div class="bg-green" style="align-items: center; display: flex; flex: 1; flex-direction: column; overflow-y:auto;">
    <a>
      <img src="../../../../assets/logo-white.png" style="object-fit: contain;">
    </a>
    <a routerLink="/coach/players" routerLinkActive="active-link">Players</a>
    <a routerLink="/coach/formulas" routerLinkActive="active-link">Formulas</a>
    <a routerLink="/coach/assessments" routerLinkActive="active-link">Assessments</a>
    <a routerLink="/coach/settings" routerLinkActive="active-link">Settings</a>
  </div>

  <div style="flex: 3; overflow-y:auto;">
    <router-outlet></router-outlet>
  </div>
</div>