<div class="bg-league register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="../../../../../assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">League Login</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    Login here to manage your players, coaches, and tryout schedules.<br><br>
    "Baseball is 90 percent mental and the other half is physical."<br>
    - Yogi Berra
  </p>
  
  <form 
    (ngSubmit)="submit()"
    #form="ngForm"
    style="align-items: center; display: flex; flex-direction: column;">
    {{diagnostic}}
    <div>
      <input
        name="email"
        [(ngModel)]="user.email"
        placeholder="Email Address"
        required
        type="text">
      <input
        name="password"
        [(ngModel)]="user.password"
        placeholder="Password"
        required
        type="password">
      <select name="league" [(ngModel)]="league" required>
        <option *ngFor="let league of leagues" [ngValue]="league">
          {{league.leagueName}} - {{league.city}}, {{league.state}}
        </option>
      </select>
      <button 
        class="bg-blue btn"
        [disabled]="!form.form.valid"
        style="width: 100%;"
        type="submit">
        Login
      </button>
      <p *ngIf="error" style="color: red; text-align: center;">{{error}}</p>
    </div>
  </form>
</div>