<div class="bg-league register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="../../../../../assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">Your League is Complete</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    Congratulations, Chris!<br>
    We're going to validate your account with our team at Youthdraft.<br>
    We'll follow up on email once you're approved.<br>
    Once you're in, you'll be able to do the following:<br>
  </p>

  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <div style="align-items: center; display: flex; flex:1; flex-direction: column;">
      <i class="icon ion-clipboard" style="color: white; font-size: 800%;"></i>
      <p style="font-size: 20px; padding: 10%;">
        Add, view, edit and delete who is a coach in your league.
      </p>
    </div>
    <div style="align-items: center; display: flex; flex:1; flex-direction: column;">
      <i class="icon ion-person-stalker" style="color: white; font-size: 800%;"></i>
      <p style="font-size: 20px; padding: 10%;">
        Add, view, edit, and delete who is a player in your league.
      </p>
    </div>
    <div style="align-items: center; display: flex; flex:1; flex-direction: column;">
      <i class="icon ion-calendar" style="color: white; font-size: 800%;"></i>
      <p style="font-size: 20px; padding: 10%;">
        Add, view, edit, and delete tryout dates.
      </p>
    </div>
  </div>
  
</div>