<div style="display: flex; position: absolute; left: 0; top: 0; right: 0; bottom: 0;">
  <div class="bg-blue" id="nav-big">
    <a>
      <img src="assets/logo-white.png" style="object-fit: contain;">
    </a>
    <a routerLink="/league/coaches" routerLinkActive="active-link">Coaches</a>
    <a routerLink="/league/players" routerLinkActive="active-link">Players</a>
    <a routerLink="/league/teams" routerLinkActive="active-link">Teams</a>
    <a routerLink="/league/tryouts" routerLinkActive="active-link">Tryouts</a>
    <a routerLink="/league/settings" routerLinkActive="active-link">Settings</a>
  </div>

  <div
    (click)="hide($event)"
    *ngIf="show" 
    style="bottom: 0; left: 0; position: absolute; right: 0; top: 0;">
  </div>

  <div class="bg-blue" id="nav-small" *ngIf="show">
    <i class="icon ion-minus-round" (click)="show=false"></i>
    <a routerLink="/league/coaches" routerLinkActive="active-link">Coaches</a>
    <a routerLink="/league/players" routerLinkActive="active-link">Players</a>
    <a routerLink="/league/teams" routerLinkActive="active-link">Teams</a>
    <a routerLink="/league/tryouts" routerLinkActive="active-link">Tryouts</a>
    <a routerLink="/league/settings" routerLinkActive="active-link">Settings</a>
  </div>

  <i class="icon ion-navicon-round hide-if-big" (click)="show=true" *ngIf="!show"></i>

  <div style="flex: 3; overflow-y:auto;">
    <router-outlet></router-outlet>
  </div>
</div>