<div class="bg-league register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="../../../../../assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">Finalize League Details</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    Almost there, {{session.newUser.firstName}}!<br><br>
    Take a look below for your league details and hit finish when complete.
  </p>
  
  <form 
    (ngSubmit)="register()"
    style="display: flex; font-size: 20px; justify-content: space-around;">

    <!-- Left Column -->
    <div>
      League Admin:<br>
      {{session.newUser.firstName}} {{session.newUser.lastName}}<br>
      {{session.newUser.email}}<br>
      {{session.newUser.leagueName}}<br><br>
      Coach Roster Uploaded<br>
      <i class="icon ion-android-checkbox" style="color: #30c219; font-size: 200%;"></i><br><br>
      Player Roster Uploaded<br>
      <i class="icon ion-android-checkbox" style="color: #30c219; font-size: 200%;"></i>
    </div>

    <!-- Right Column -->
    <div style="align-items: center; display: flex; flex-direction: column;">
      Selected Tryout Dates:
      <p *ngFor="let date of dates">{{date}}</p>
      <div style="display: flex; justify-content: flex-end; margin-top: 10%;">
        <button class="bg-blue btn" type="submit">Create League</button>
      </div>
    </div>
    
  </form>
</div>