input {
  border-radius: 5px;
  border-width: 0px;
  box-sizing: border-box;
  margin-bottom: 2%;
  padding: 10px;
  width: 70%;
}

select {
  border-radius: 5px;
  border-width: 0px;
  box-sizing: border-box;
  padding: 5px;
}