input {
  border-radius: 5px;
  border-width: 0px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
}

select {
  border-radius: 5px;
  border-width: 0px;
  box-sizing: border-box;
  padding: 10px;
}