<div style="height: 100%; display: flex; flex-direction: column;">
  <div style="flex: 1; display: flex; justify-content: space-between; padding: 25px;">
    <h1>Account Settings</h1>
    <div>
      <h5 (click)="session.logout()" style="color: #8cc63e; cursor: pointer;">
        Logout
      </h5>
    </div>
  </div>

  <div style="background-color: #f0f1f2; flex: 11; display: flex; flex-direction: column; padding: 20px;">
    <div style="background-color: white; display: flex; height: 100%; overflow: auto; padding: 25px;">
      <form  (submit)="updateCoach()" style="display:flex; flex: 1; flex-direction: column;">
        <h4>Account Details</h4>
        <input name="firstName" [(ngModel)]="coach.firstName" placeholder="First Name" required>
        <input name="lastName" [(ngModel)]="coach.lastName" placeholder="Last Name" required>
        <select name="gender" [(ngModel)]="coach.gender" required>
          <option [ngValue]="undefined" disabled>Gender</option>
          <option [ngValue]="Male">Male</option>
          <option [ngValue]="Female">Female</option>
        </select>
        <input name="dob" [(ngModel)]="coach.dob" placeholder="9/11/2001" required type="date">
        <input name="email" [(ngModel)]="coach.email" placeholder="Email Address" required>
        <div style="display: flex; width: 75%;">
          <input
            maxlength="3"
            name="area"
            [(ngModel)]="coach.area"
            placeholder="Area"
            required
            style="margin-right: 5px;">
          <input
            maxlength="4"
            name="prefix"
            [(ngModel)]="coach.prefix"
            placeholder="Prefix"
            required
            style="margin-right: 5px;">
          <input
            maxlength="4"
            name="line"
            [(ngModel)]="coach.line"
            placeholder="Line"
            required>
        </div>
        <input name="city" [(ngModel)]="coach.city" placeholder="City" required>
        <div style="display: flex; width: 75%;">
          <input
            maxlength="2"
            name="state"
            [(ngModel)]="coach.state"
            placeholder="State"
            required
            style="margin-right: 5px;">
          <input name="zip" [(ngModel)]="coach.zip" placeholder="Zip" required>
        </div>
        <button class="bg-green btn" style="color: white; margin-top: 20px; width: 75%;" type="submit">
          Save Account Information
        </button>
        <p *ngIf="accountError" style="color: red; max-width: 75%; text-align: center;">
          {{accountError}}
        </p>
        <p *ngIf="accountSuccess" style="color: #0055a5; max-width: 75%; text-align: center;">
          Successfully updated your account information!
        </p>
      </form>
      <form  (submit)="updatePassword()" style="display:flex; flex: 1; flex-direction: column;">
        <h4>Change Password</h4>
        <input
          name="oldPassword"
          [(ngModel)]="password.oldPassword"
          placeholder="Old Password"
          type="password"
          required>
        <input
          name="newPassword"
          [(ngModel)]="password.newPassword"
          placeholder="New Password"
          type="password"
          required>
        <input
          name="confirmNewPassword"
          [(ngModel)]="password.confirmNewPassword"
          placeholder="Confirm New Password"
          type="password"
          required>
        <button class="bg-green btn" style="color: white; margin-top: 20px; width: 75%;" type="submit">
          Save New Password
        </button>
        <p *ngIf="passwordError" style="color: red; max-width: 75%; text-align: center;">
          {{passwordError}}
        </p>
        <p *ngIf="passwordSuccess" style="color: #0055a5; max-width: 75%; text-align: center;">
          Successfully updated your password!
        </p>
      </form>
    </div>
  </div>
</div>