<div style="height: 100%; display: flex; flex-direction: column;">
  <div style="flex: 1; padding: 25px;">
    <h1>Assessments</h1><br>
    <p>
      Select one of the formulas you created in the Formulas tab to view player rankings based on the weight of your formula. </p> <select (change)="onChange()" [(ngModel)]="formula" required style="margin-top: 20px;">
      <option [ngValue]="defaultFormula"></option>
      <option *ngFor="let formula of formulas" [ngValue]="formula">
        {{formula.title}}
      </option>
    </select>
  </div>

  <div style="background-color: #f0f1f2; flex: 11; display: flex; flex-direction: column; padding: 20px;">
    <!-- Formula Details -->
    <div style="background-color: white; flex: 1; height: 100%; margin-bottom: 20px; padding: 25px; overflow: auto;">
      <h4>Formula Details</h4>
      <table>
        <colgroup>
          <col style="width: 25%">
          <col style="width: 25%">
          <col style="width: 25%">
          <col style="width: 25%">
        </colgroup>
        <thead>
          <tr>
            <th>Hitting</th>
            <th>Throwing</th>
            <th>Fielding</th>
            <th>Baserunning</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Hitting Mechanics</p>
              <p>{{formula.hittingMechanics}}%</p>
            </td>
            <td>
              <p>Throwing Mechanics</p>
              <p>{{formula.throwingMechanics}}%</p>
            </td>
            <td>
              <p>Fielding</p>
              <p>{{formula.inField}}%</p>
            </td>
            <td>
              <p>Mechanics</p>
              <p>{{formula.baserunMechanics}}%</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Bat Speed</p>
              <p>{{formula.batSpeed}}%</p>
            </td>
            <td>
              <p>Arm Strength</p>
              <p>{{formula.armStrength}}%</p>
            </td>
            <td>
              <p>Outfield</p>
              <p>{{formula.outField}}%</p>
            </td>
            <td>
              <p>Speed</p>
              <p>{{formula.baserunSpeed}}%</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Bat Contact</p>
              <p>{{formula.batContact}}%</p>
            </td>
            <td>
              <p>Arm Accuracy</p>
              <p>{{formula.armAccuracy}}%</p>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- Players -->
    <div style="background-color: white; flex: 2; height: 100%; padding: 25px; overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>Player Name</th>
            <th (click)="orderBy('hitting')" style="cursor: pointer;">
              Hitting
              <i class="icon ion-android-arrow-dropup" *ngIf="order === 'hitting' && reverse" style="font-size: 12px;"></i>
              <i class="icon ion-android-arrow-dropdown" *ngIf="order === 'hitting' && !reverse" style="font-size: 12px;"></i>
            </th>
            <th (click)="orderBy('throwing')" style="cursor: pointer;">
              Throwing
              <i class="icon ion-android-arrow-dropup" *ngIf="order === 'throwing' && reverse" style="font-size: 12px;"></i>
              <i class="icon ion-android-arrow-dropdown" *ngIf="order === 'throwing' && !reverse" style="font-size: 12px;"></i>
            </th>
            <th (click)="orderBy('fielding')" style="cursor: pointer;">
              Fielding
              <i class="icon ion-android-arrow-dropup" *ngIf="order === 'fielding' && reverse" style="font-size: 12px;"></i>
              <i class="icon ion-android-arrow-dropdown" *ngIf="order === 'fielding' && !reverse" style="font-size: 12px;"></i>
            </th>
            <th (click)="orderBy('baserunning')" style="cursor: pointer;">
              Baserunning
              <i class="icon ion-android-arrow-dropup" *ngIf="order === 'baserunning' && reverse" style="font-size: 12px;"></i>
              <i class="icon ion-android-arrow-dropdown" *ngIf="order === 'baserunning' && !reverse" style="font-size: 12px;"></i>
            </th>
            <th (click)="orderBy('raw')" style="cursor: pointer;">
              Raw Score
              <i class="icon ion-android-arrow-dropup" *ngIf="order === 'raw' && reverse" style="font-size: 12px;"></i>
              <i class="icon ion-android-arrow-dropdown" *ngIf="order === 'raw' && !reverse" style="font-size: 12px;"></i>
            </th>
            <th (click)="orderBy('weighted')" style="cursor: pointer;">
              Weighted Score
              <i class="icon ion-android-arrow-dropup" *ngIf="order === 'weighted' && reverse" style="font-size: 12px;"></i>
              <i class="icon ion-android-arrow-dropdown" *ngIf="order === 'weighted' && !reverse" style="font-size: 12px;"></i>
            </th>
            <th>Prior Div.</th>
          </tr>
        </thead>
        <tbody *ngFor="let player of players">
          <tr>
            <td 
              (click)="player.show ? player.show = false : player.show = true"
              style="cursor: pointer;">
              {{player.teamNumber}} | {{player.firstName}} {{player.lastName}}&nbsp;
              <i class="icon ion-android-arrow-dropdown" style="font-size: 14px;"></i>
            </td>
            <td>
              {{((player.hittingMechanics + player.batSpeed + player.batContact) / 3).toFixed(1)}} | 
              {{player.hitting}}
            </td>
            <td>
              {{((player.throwingMechanics + player.armStrength + player.armAccuracy) / 3).toFixed(1)}} | 
              {{player.throwing}}
            </td>
            <td>
              {{((player.inField + player.outField) / 2).toFixed(1)}} | 
              {{player.fielding}}
            </td>
            <td>
              {{((player.baserunMechanics + player.baserunSpeed) / 2).toFixed(1)}} | 
              {{player.baserunning}}
            </td>
            <td>
              {{player.raw}}
            </td>
            <td>
              {{player.weighted}}
            </td>
            <td>{{player.division}}</td>
          </tr>

          <!-- Expanded row -->
          <tr *ngIf="player.show">
            <td colspan="8">
              <div style="padding: 10px; white-space: normal;">
                This is where we provide more details on this player's assessment results
                formatted as: raw score | weighted score.<br>
                Assessment Date: {{_moment(player.createdAt).format('MMMM D, YYYY')}}
                <table>
                  <thead>
                    <tr>
                      <th>Hitting</th>
                      <th>Throwing</th>
                      <th>Fielding</th>
                      <th>Baserunning</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.hittingMechanicsNotes" style="cursor: default;">
                          {{player.hittingMechanicsNotes}}
                        </span>
                        Mechanics
                        {{player.hittingMechanics}} | 
                        {{(player.hittingMechanics * formula.hittingMechanics / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.throwingMechanicsNote" style="cursor: default;">
                          {{player.throwingMechanicsNotes}}
                        </span>
                        Mechanics
                        {{player.throwingMechanics}} | 
                        {{(player.throwingMechanics * formula.throwingMechanics / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.inFieldNotes" style="cursor: default;">
                          {{player.inFieldNotes}}
                        </span>
                        Infield
                        {{player.inField}} | 
                        {{(player.inField * formula.inField / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.baserunMechanicsNote" style="cursor: default;">
                          {{player.baserunMechanicsNotes}}
                        </span>
                        Mechanics
                        {{player.baserunMechanics}} | 
                        {{(player.baserunMechanics * formula.baserunMechanics / 100).toFixed(1)}}
                      </td>
                    </tr>
                    <tr>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.batSpeedNotes" style="cursor: default;">
                          {{player.batSpeedNotes}}
                        </span>
                        Speed
                        {{player.batSpeed}} | 
                        {{(player.batSpeed * formula.batSpeed / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.armStrengthNotes" style="cursor: default;">
                          {{player.armStrengthNotes}}
                        </span>
                        Strength
                        {{player.armStrength}} | 
                        {{(player.armStrength * formula.armStrength / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.outFieldNotes" style="cursor: default;">
                          {{player.outFieldNotes}}
                        </span>
                        Outfield
                        {{player.outField}} | 
                        {{(player.outField * formula.outField / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.baserunSpeedNotes" style="cursor: default;">
                          {{player.baserunSpeedNotes}}
                        </span>
                        Speed 
                        {{player.baserunSpeed}} | 
                        {{(player.baserunSpeed * formula.baserunSpeed / 100).toFixed(1)}}
                      </td>
                    </tr>
                    <tr>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.batContactNotes" style="cursor: default;">
                          {{player.batContactNotes}}
                        </span>
                        Contact
                        {{player.batContact}} | 
                        {{(player.batContact * formula.batContact / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.armAccuracyNotes" style="cursor: default;">
                          {{player.armAccuracyNotes}}
                        </span>
                        Accuracy
                        {{player.armAccuracy}} | 
                        {{(player.armAccuracy * formula.armAccuracy / 100).toFixed(1)}}
                      </td>
                      <td></td>
                      <td 
                        (click)="select('edit', player)"
                        style="color: #8cc63e; cursor: pointer; font-weight: bold;">
                        Edit
                      </td>
                    </tr>
                  </tbody>
                </table>
                <hr>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    </div>
</div>


<!-- Edit modal -->
<div class="modal" (click)="close()" *ngIf="modal==='edit'">
  <div
    (click)="stopPropagation($event)"
    class="modal-width"
    style="background-color: white; padding: 20px;">
    <h1>Edit {{selected.firstName}} {{selected.lastName}}'s Assessment</h1>
    <form #form="ngForm">
      <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
        <label for="hittingMechanics">Hitting Mechanics</label>
        <input name="hittingMechanics" [(ngModel)]="selected.hittingMechanics" required>
        <label for="batSpeed">Bat Speed</label>
        <input name="batSpeed" [(ngModel)]="selected.batSpeed" required>
        <label for="batContact">Bat Contact</label>
        <input name="batContact" [(ngModel)]="selected.batContact" required>
      </div>
      <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
        <label for="throwingMechanics">Throwing Mechanics</label>
        <input name="throwingMechanics" [(ngModel)]="selected.throwingMechanics" required>
        <label for="armStrength">Arm Strength</label>
        <input name="armStrength" [(ngModel)]="selected.armStrength" required>
        <label for="armAccuracy">Arm Accuracy</label>
        <input name="armAccuracy" [(ngModel)]="selected.armAccuracy" required>
      </div>
      <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
        <label for="inField">Infield</label>
        <input name="inField" [(ngModel)]="selected.inField" required>
        <label for="outField">Outfield</label>
        <input name="outField" [(ngModel)]="selected.outField" required>
      </div>
      <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
        <label for="baserunMechanics">Baserunning Mechanics</label>
        <input name="baserunMechanics" [(ngModel)]="selected.baserunMechanics" required>
        <label for="baserunStrength">Baserunning Speed</label>
        <input name="baserunStrength" [(ngModel)]="selected.baserunSpeed" required>
      </div>
    </form>

    <p style="font-size: 12px; font-weight: bold; margin-top: 20px; text-align: center;">
      Ratings must be numbers between 0.0 and 10.0
    </p>
    <div style="display: flex; justify-content: center;">
      <button
        class="bg-gray btn"
        (click)="close()"
        style="color: white; margin-right: 20px; margin-top: 5px;">
        Cancel
      </button>
      <button
        class="bg-blue btn"
        (click)="save()"
        [disabled]="!form.form.valid"
        [ngStyle]="{cursor: form.form.valid ? 'pointer' : 'not-allowed',
          opacity: form.form.valid ? 1.0 : 0.5}"
        style="color: white; margin-top: 5px;">
        Save
      </button>
    </div>
    <p *ngIf="error" style="color: red; text-align: center;">{{error}}</p>
  </div>
</div>