<div style="height: 100%; display: flex; flex-direction: column;">
  <div style="flex: 1; padding: 25px;">
    <h1>Assessments</h1><br>
    <p>
      Select one of the formulas you created in the Formulas tab to view player
      rankings based on the weight of your formula.
    </p>
    <select [(ngModel)]="formula" required style="margin-top: 20px;">
      <option [ngValue]="defaultFormula"></option>
      <option *ngFor="let formula of formulas" [ngValue]="formula">
        {{formula.name}}
      </option>
    </select>
  </div>

  <div style="background-color: #f0f1f2; flex: 11; display: flex; flex-direction: column; padding: 20px;">
    <!-- Formula Details -->
    <div style="background-color: white; flex: 1; height: 100%; margin-bottom: 20px; padding: 25px; overflow: auto;">
      <h4>Formula Details</h4>
      <table>
        <colgroup>
          <col style="width: 25%">
          <col style="width: 25%">
          <col style="width: 25%">
          <col style="width: 25%">
        </colgroup>
        <thead>
          <tr>
            <th>Hitting</th>
            <th>Throwing</th>
            <th>Fielding</th>
            <th>Baserunning</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Hitting Mechanics</p>
              <p>{{formula.hittingMechanics}}%</p>
            </td>
            <td>
              <p>Throwing Mechanics</p>
              <p>{{formula.throwingMechanics}}%</p>
            </td>
            <td>
              <p>Fielding</p>
              <p>{{formula.infield}}%</p>
            </td>
            <td>
              <p>Baserunning</p>
              <p>{{formula.mechanics}}%</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Bat Speed</p>
              <p>{{formula.batSpeed}}%</p>
            </td>
            <td>
              <p>Arm Strength</p>
              <p>{{formula.armStrength}}%</p>
            </td>
            <td>
              <p>Outfield</p>
              <p>{{formula.outfield}}%</p>
            </td>
            <td>
              <p>Speed</p>
              <p>{{formula.speed}}%</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Bat Contact</p>
              <p>{{formula.batContact}}%</p>
            </td>
            <td>
              <p>Arm Accuracy</p>
              <p>{{formula.armAccuracy}}%</p>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- Players -->
    <div style="background-color: white; flex: 2; height: 100%; padding: 25px; overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>Player Name</th>
            <th>Hitting</th>
            <th>Throwing</th>
            <th>Fielding</th>
            <th>Baserunning</th>
            <th>Raw Score</th>
            <th>Weighted Score</th>
            <th>Prior Div.</th>
          </tr>
        </thead>
        <tbody *ngFor="let player of players">
            <tr>
              <td 
                (click)="player.show ? player.show = false : player.show = true"
                style="cursor: pointer;">
                {{player.number}} | {{player.name}}&nbsp;
                <i class="icon ion-android-arrow-dropdown" style="font-size: 14px;"></i>
              </td>
              <td>
                {{Math.round((player.hittingMechanics + player.batSpeed + player.batContact) / 3)}} | 
                {{Math.round((
                  player.hittingMechanics * formula.hittingMechanics + 
                  player.batSpeed * formula.batSpeed +
                  player.batContact * formula.batContact) / 300)
                }}
              </td>
              <td>
                {{Math.round((player.throwingMechanics + player.armStrength + player.armAccuracy) / 3)}} | 
                {{Math.round((
                  player.throwingMechanics * formula.throwingMechanics + 
                  player.armStrength * formula.armStrength +
                  player.armAccuracy * formula.armAccuracy) / 300)
                }}
              </td>
              <td>
                {{Math.round((player.infield + player.outfield) / 2)}} | 
                {{Math.round((
                  player.infield * formula.infield + 
                  player.outfield * formula.outfield) / 200)
                }}                
              </td>
              <td>
                {{Math.round((player.mechanics + player.speed) / 2)}} | 
                {{Math.round((
                  player.mechanics * formula.mechanics + 
                  player.speed * formula.speed) / 200)
                }}                
              </td>
              <td>
                {{
                  player.hittingMechanics +
                  player.batSpeed +
                  player.batContact +
                  player.throwingMechanics +
                  player.armStrength +
                  player.armAccuracy +
                  player.infield +
                  player.outfield +
                  player.mechanics +
                  player.speed
                }}
              </td>
              <td>
                {{
                  Math.round(player.hittingMechanics * formula.hittingMechanics / 100) +
                  Math.round(player.batSpeed * formula.batSpeed / 100) +
                  Math.round(player.batContact * formula.batContact / 100) +
                  Math.round(player.throwingMechanics * formula.throwingMechanics / 100) +
                  Math.round(player.armStrength * formula.armStrength / 100) +
                  Math.round(player.armAccuracy * formula.armAccuracy / 100) +
                  Math.round(player.infield * formula.infield / 100) +
                  Math.round(player.outfield * formula.outfield / 100) +
                  Math.round(player.mechanics * formula.mechanics / 100) +
                  Math.round(player.speed * formula.speed / 100)
                }}
              </td>
              <td>{{player.div}}</td>
            </tr>

            <!-- Expanded row -->
            <tr *ngIf="player.show">
              <td colspan="8">
                <div style="padding: 10px; white-space: normal;">
                  This is where we provide more details on this player's assessment results
                  formatted as: raw score | weighted score.<br>
                  Assessment Date: January 15, 2017.
                  <table>
                    <thead>
                      <tr>
                        <th>Hitting</th>
                        <th>Throwing</th>
                        <th>Fielding</th>
                        <th>Baserunning</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Mechanics
                          {{player.hittingMechanics}} | 
                          {{Math.round(player.hittingMechanics * formula.hittingMechanics / 100)}}
                        </td>
                        <td>
                          Mechanics
                          {{player.throwingMechanics}} | 
                          {{Math.round(player.throwingMechanics * formula.throwingMechanics / 100)}}
                        </td>
                        <td>
                          Infield
                          {{player.infield}} | 
                          {{Math.round(player.infield * formula.infield / 100)}}
                        </td>
                        <td>
                          Mechanics
                          {{player.mechanics}} | 
                          {{Math.round(player.mechanics * formula.mechanics / 100)}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Speed
                          {{player.batSpeed}} | 
                          {{Math.round(player.batSpeed * formula.batSpeed / 100)}}
                        </td>
                        <td>
                          Strength
                          {{player.armStrength}} | 
                          {{Math.round(player.armStrength * formula.armStrength / 100)}}
                        </td>
                        <td>
                          Outfield
                          {{player.outfield}} | 
                          {{Math.round(player.outfield * formula.outfield / 100)}}
                        </td>
                        <td>
                          Speed 
                          {{player.speed}} | 
                          {{Math.round(player.speed * formula.speed / 100)}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Contact
                          {{player.batContact}} | 
                          {{Math.round(player.batContact * formula.batContact / 100)}}
                        </td>
                        <td>
                          Accuracy
                          {{player.armAccuracy}} | 
                          {{Math.round(player.armAccuracy * formula.armAccuracy / 100)}}
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- Notes -->
                  <p style="font-weight: bold;">Notes</p>
                  <p style="margin-bottom: 50px;">
                    Looks a little frail and lack great physical structure and strength.
                  </p>
                  <hr>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  
    </div>
</div>