<div style="height: 100%; display: flex; flex-direction: column;">
  <div style="flex: 1; padding: 25px;">
    <h1>Assessments</h1><br>
    <p>
      Select one of the formulas you created in the Formulas tab to view player
      rankings based on the weight of your formula.
    </p>
    <select [(ngModel)]="formula" required style="margin-top: 20px;">
      <option [ngValue]="defaultFormula"></option>
      <option *ngFor="let formula of formulas" [ngValue]="formula">
        {{formula.title}}
      </option>
    </select>
  </div>

  <div style="background-color: #f0f1f2; flex: 11; display: flex; flex-direction: column; padding: 20px;">
    <!-- Formula Details -->
    <div style="background-color: white; flex: 1; height: 100%; margin-bottom: 20px; padding: 25px; overflow: auto;">
      <h4>Formula Details</h4>
      <table>
        <colgroup>
          <col style="width: 25%">
          <col style="width: 25%">
          <col style="width: 25%">
          <col style="width: 25%">
        </colgroup>
        <thead>
          <tr>
            <th>Hitting</th>
            <th>Throwing</th>
            <th>Fielding</th>
            <th>Baserunning</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Hitting Mechanics</p>
              <p>{{formula.hittingMechanics}}%</p>
            </td>
            <td>
              <p>Throwing Mechanics</p>
              <p>{{formula.throwingMechanics}}%</p>
            </td>
            <td>
              <p>Fielding</p>
              <p>{{formula.inField}}%</p>
            </td>
            <td>
              <p>Baserunning</p>
              <p>{{formula.baserunMechanics}}%</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Bat Speed</p>
              <p>{{formula.batSpeed}}%</p>
            </td>
            <td>
              <p>Arm Strength</p>
              <p>{{formula.armStrength}}%</p>
            </td>
            <td>
              <p>Outfield</p>
              <p>{{formula.outField}}%</p>
            </td>
            <td>
              <p>Speed</p>
              <p>{{formula.baserunSpeed}}%</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Bat Contact</p>
              <p>{{formula.batContact}}%</p>
            </td>
            <td>
              <p>Arm Accuracy</p>
              <p>{{formula.armAccuracy}}%</p>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- Players -->
    <div style="background-color: white; flex: 2; height: 100%; padding: 25px; overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>Player Name</th>
            <th>Hitting</th>
            <th>Throwing</th>
            <th>Fielding</th>
            <th>Baserunning</th>
            <th>Raw Score</th>
            <th>Weighted Score</th>
            <th>Prior Div.</th>
          </tr>
        </thead>
        <tbody *ngFor="let player of players">
          <tr>
            <td 
              (click)="player.show ? player.show = false : player.show = true"
              style="cursor: pointer;">
              {{player.teamNumber}} | {{player.firstName}} {{player.lastName}}&nbsp;
              <i class="icon ion-android-arrow-dropdown" style="font-size: 14px;"></i>
            </td>
            <td>
              {{((player.hittingMechanics + player.batSpeed + player.batContact) / 3).toFixed(1)}} | 
              {{((
                player.hittingMechanics * formula.hittingMechanics + 
                player.batSpeed * formula.batSpeed +
                player.batContact * formula.batContact) / 300).toFixed(1)
              }}
            </td>
            <td>
              {{((player.throwingMechanics + player.armStrength + player.armAccuracy) / 3).toFixed(1)}} | 
              {{((
                player.throwingMechanics * formula.throwingMechanics + 
                player.armStrength * formula.armStrength +
                player.armAccuracy * formula.armAccuracy) / 300).toFixed(1)
              }}
            </td>
            <td>
              {{((player.inField + player.outField) / 2).toFixed(1)}} | 
              {{((
                player.inField * formula.inField + 
                player.outField * formula.outField) / 200).toFixed(1)
              }}                
            </td>
            <td>
              {{((player.baserunMechanics + player.baserunSpeed) / 2).toFixed(1)}} | 
              {{((
                player.baserunMechanics * formula.baserunMechanics + 
                player.baserunSpeed * formula.baserunSpeed) / 200).toFixed(1)
              }}                
            </td>
            <td>
              {{(
                player.hittingMechanics +
                player.batSpeed +
                player.batContact +
                player.throwingMechanics +
                player.armStrength +
                player.armAccuracy +
                player.inField +
                player.outField +
                player.baserunMechanics +
                player.baserunSpeed).toFixed(1)
              }}
            </td>
            <td>
              {{((
                (player.hittingMechanics * formula.hittingMechanics) +
                (player.batSpeed * formula.batSpeed) +
                (player.batContact * formula.batContact) +
                (player.throwingMechanics * formula.throwingMechanics) +
                (player.armStrength * formula.armStrength) +
                (player.armAccuracy * formula.armAccuracy) +
                (player.inField * formula.inField) +
                (player.outField * formula.outField) +
                (player.baserunMechanics * formula.baserunMechanics) +
                (player.baserunSpeed * formula.baserunSpeed)) / 100).toFixed(1)
              }}
            </td>
            <td>{{player.division}}</td>
          </tr>

          <!-- Expanded row -->
          <tr *ngIf="player.show">
            <td colspan="8">
              <div style="padding: 10px; white-space: normal;">
                This is where we provide more details on this player's assessment results
                formatted as: raw score | weighted score.<br>
                Assessment Date: January 15, 2017.
                <table>
                  <thead>
                    <tr>
                      <th>Hitting</th>
                      <th>Throwing</th>
                      <th>Fielding</th>
                      <th>Baserunning</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.hittingMechanicsNotes" style="cursor: default;">
                          {{player.hittingMechanicsNotes}}
                        </span>
                        Mechanics
                        {{player.hittingMechanics}} | 
                        {{(player.hittingMechanics * formula.hittingMechanics / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.throwingMechanicsNote" style="cursor: default;">
                          {{player.throwingMechanicsNotes}}
                        </span>
                        Mechanics
                        {{player.throwingMechanics}} | 
                        {{(player.throwingMechanics * formula.throwingMechanics / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.inFieldNotes" style="cursor: default;">
                          {{player.inFieldNotes}}
                        </span>
                        Infield
                        {{player.inField}} | 
                        {{(player.inField * formula.inField / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.baserunMechanicsNote" style="cursor: default;">
                          {{player.baserunMechanicsNotes}}
                        </span>
                        Mechanics
                        {{player.baserunMechanics}} | 
                        {{(player.baserunMechanics * formula.baserunMechanics / 100).toFixed(1)}}
                      </td>
                    </tr>
                    <tr>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.batSpeedNotes" style="cursor: default;">
                          {{player.batSpeedNotes}}
                        </span>
                        Speed
                        {{player.batSpeed}} | 
                        {{(player.batSpeed * formula.batSpeed / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.armStrengthNotes" style="cursor: default;">
                          {{player.armStrengthNotes}}
                        </span>
                        Strength
                        {{player.armStrength}} | 
                        {{(player.armStrength * formula.armStrength / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.outFieldNotes" style="cursor: default;">
                          {{player.outFieldNotes}}
                        </span>
                        Outfield
                        {{player.outField}} | 
                        {{(player.outField * formula.outField / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.baserunSpeedNotes" style="cursor: default;">
                          {{player.baserunSpeedNotes}}
                        </span>
                        Speed 
                        {{player.baserunSpeed}} | 
                        {{(player.baserunSpeed * formula.baserunSpeed / 100).toFixed(1)}}
                      </td>
                    </tr>
                    <tr>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.batContactNotes" style="cursor: default;">
                          {{player.batContactNotes}}
                        </span>
                        Contact
                        {{player.batContact}} | 
                        {{(player.batContact * formula.batContact / 100).toFixed(1)}}
                      </td>
                      <td class="tooltip">
                        <span class="tooltiptext" *ngIf="player.armAccuracyNotes" style="cursor: default;">
                          {{player.armAccuracyNotes}}
                        </span>
                        Accuracy
                        {{player.armAccuracy}} | 
                        {{(player.armAccuracy * formula.armAccuracy / 100).toFixed(1)}}
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
                <hr>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    </div>
</div>