<div class="bg-coach register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="../../../../../assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">Join a League</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    As a coach, you can join a league and have<br>
    a digital solution for managing player assessments.<br><br>
    Craete an account and join a league below:
  </p>
  
  <form 
    (ngSubmit)="next()"
    #form="ngForm"
    style="align-items: flex-start; display: flex; justify-content: space-around;">

    <!-- Left Column -->
    <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
      <!-- First Name -->
      <input [(ngModel)]="session.newUser.firstName" name="firstName" placeholder="First Name" required type="text">

      <!-- Last Name -->
      <input [(ngModel)]="session.newUser.lastName" name="lastName" placeholder="Last Name" required type="text">
      
      <!-- DOB -->
      <div style="margin-bottom: 2%; width: 50%;">
        <label>DOB</label>
      </div>
      <input [(ngModel)]="session.newUser.birthday" name="birthday" placeholder="Last Name" required type="date">

      <!-- Gender -->
      <select name="gender" [(ngModel)]="session.newUser.gender" required>
        <option [ngValue]="undefined" disabled>Gender</option>
        <option [ngValue]="'Male'">Male</option>
        <option [ngValue]="'Female'">Female</option>
      </select>
        
      <select name="league" [(ngModel)]="session.newUser.league" required>
        <option [ngValue]="undefined" disabled>Choose Desired League</option>
        <option *ngFor="let league of leagues" [ngValue]="league">
          {{league.leagueName}} - {{league.city}}, {{league.state}}
        </option>
      </select>    
    </div>

    <!-- Right Column -->
    <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
      <!-- Email -->
      <input [(ngModel)]="session.newUser.email" name="email" placeholder="Email Address" required type="text">

      <!-- Phone Number -->
      <div style="margin-bottom: 2%; width: 50%;">
        <label>Phone Number</label>
      </div>
      <div style="display: flex; margin-bottom: 2%; width: 50%;">
        <input
          [(ngModel)]="session.newUser.area"
          maxlength="3"
          name="area"
          placeholder="123"
          required
          style="margin-bottom: 0; margin-right: 5px;"
          type="text">
        <input
          [(ngModel)]="session.newUser.prefix"
          maxlength="3"
          name="prefix"
          placeholder="456"
          required
          style="margin-bottom: 0; margin-right: 5px;"
          type="text">
        <input
          [(ngModel)]="session.newUser.line"
          maxlength="4"
          name="line"
          placeholder="7890"
          required
          style="margin-bottom: 0;"
          type="text">
      </div>

      <!-- Address -->
      <input [(ngModel)]="session.newUser.address" name="address" placeholder="Street Address" required type="text">
      
      <!-- City -->
      <input [(ngModel)]="session.newUser.city" name="city" placeholder="City" required type="text">

      <div style="display: flex; justify-content: space-between; width: 50%;">
        <!-- State -->
        <input
          [(ngModel)]="session.newUser.state"
          maxLength="2"
          name="state"
          placeholder="State"
          required 
          style="margin-right: 5px;"
          type="text">
        
        <!-- Zip -->
        <input
          [(ngModel)]="session.newUser.zip"
          name="zip"
          placeholder="Zip"
          required
          type="text">
      </div>

      <!-- Next -->
      <div style="display: flex; justify-content: flex-end; margin-top: 10%; width: 50%;">
        <button  class="bg-green btn" [disabled]="!form.form.valid" type="submit">Next</button>
        <!-- <button type="submit" [disabled]="!form.form.valid">Register</button> -->
      </div>
    </div>
    
  </form>
</div>