<div class="league-register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="../../../../../assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">Join a League</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    As a coach, you can join a league and have<br>
    a digital solution for managing player assessments.<br><br>
    Craete an account and join a league below:
  </p>
  
  <form 
    (ngSubmit)="register()"
    #registerForm="ngForm"
    style="align-items: flex-start; display: flex; justify-content: space-around;">

    <!-- Left Column -->
    <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
      <!-- First Name -->
      <div style="width: 50%">
        <input
          [(ngModel)]="league.firstName"
          name="firstName"
          #firstName="ngModel"
          id="firstName"
          placeholder="First Name"
          required
          type="text">
        <div [hidden]="firstName.valid || firstName.pristine" style="color: red; margin-bottom: 2%;">
          First name is required
        </div>
      </div>

      <!-- Last Name -->
      <div style="width: 50%">
        <input
          [(ngModel)]="league.LastName"
          name="LastName"
          #LastName="ngModel"
          id="LastName"
          placeholder="Last Name"
          required
          type="text">
        <div [hidden]="LastName.valid || LastName.pristine" style="color: red; margin-bottom: 2%;">
          Last name is required
        </div>
      </div>

      <!-- League Name -->
      <div style="width: 50%">
        <input
          [(ngModel)]="league.leagueName"
          name="leagueName"
          #leagueName="ngModel"
          id="leagueName"
          placeholder="League Name"
          required
          type="text">
        <div [hidden]="leagueName.valid || leagueName.pristine" style="color: red; margin-bottom: 2%;">
          League name is required
        </div>
      </div>
    </div>

    <!-- Right Column -->
    <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
      <!-- Email -->
      <div style="width: 50%">
        <input
          [(ngModel)]="league.email"
          name="email"
          #email="ngModel"
          id="email"
          placeholder="Email Address"
          required
          type="text">
        <div [hidden]="email.valid || email.pristine" style="color: red; margin-bottom: 2%;">
          Email address is required
        </div>
      </div>

      <!-- Phone Number -->
      <div style="width: 50%">
        <input
          [(ngModel)]="league.phoneNumber"
          name="phoneNumber"
          #phoneNumber="ngModel"
          id="phoneNumber"
          placeholder="Phone Number"
          required
          type="text">
        <div [hidden]="phoneNumber.valid || phoneNumber.pristine" style="color: red; margin-bottom: 2%;">
          Phone Number is required
        </div>
      </div>

      <div style="display: flex; justify-content: space-between; width: 50%;">
        <!-- City -->
        <div style="flex: 2; margin-right: 5px;">
          <input
            [(ngModel)]="league.city"
            name="city"
            #city="ngModel"
            id="city"
            placeholder="City"
            required
            type="text">
          <div [hidden]="city.valid || city.pristine" style="color: red; margin-bottom: 2%;">
            City is required
          </div>
        </div>

        <!-- State -->
        <div style="flex: 1">
          <input
            [(ngModel)]="league.state"
            name="state"
            #state="ngModel"
            id="state"
            placeholder="State"
            required
            type="text">
          <div [hidden]="state.valid || state.pristine" style="color: red; margin-bottom: 2%;">
            State is required
          </div>          
        </div>
      </div>

      <!-- Next -->
      <div style="display: flex; justify-content: flex-end; margin-top: 10%; width: 50%;">
        <button 
          class="bg-green btn"
          style="border: none; border-radius: 5px; color: white; padding: 10px 20px;"
          type="submit">
          Next
        </button>
        <!-- <button type="submit" [disabled]="!registerForm.form.valid">Register</button> -->
      </div>

    </div>
    
  </form>
</div>