<div style="height: 100%; display: flex; flex-direction: column;">
  <div style="flex: 1; display: flex; justify-content: space-between; padding: 25px;">
    <h1>Manage Players</h1>
    <div>
      <h5 (click)="modal='add'" style="color: #0055a5; cursor: pointer">Add a new Player</h5>
    </div>
  </div>

  <div style="background-color: #f0f1f2; flex: 11; display: flex; flex-direction: column; padding: 20px;">
    <div style="background-color: white; height: 100%; overflow: auto; padding: 25px;">
      <table>
        <thead>
          <tr>
            <th>Player Name</th>
            <th>League Age</th>
            <th>Gender</th>
            <th>Parent Number</th>
            <th>Parent Email</th>
            <th>Division</th>
            <th>DOB</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players;" >
            <td>{{player.firstName}} {{player.lastName}}</td>
            <td>{{player.leagueAge}}</td>
            <td>{{player.gender}}</td>
            <td>{{player.phoneNumber}}</td>
            <td>{{player.email}}</td>
            <td>{{player.division}}</td>
            <td>{{_moment(player.birthday).format('M/D/YYYY')}}</td>
            <td>
              <p style="font-weight: bold;">
                <span (click)="select('edit', player)" style="cursor: pointer;">
                  Edit
                </span> | 
                <span (click)="select('delete', player)" style="cursor: pointer;">
                  Delete
                </span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Add/Edit modal -->
<div class="modal" (click)="close()" *ngIf="modal==='add' || modal==='edit'">
  <div
    (click)="stopPropagation($event)"
    class="modal-width"
    style="background-color: white; padding: 20px;">
    <h1 *ngIf="modal === 'add'">Add a new Player</h1>
    <h1 *ngIf="modal === 'edit'">Edit this Player</h1>
    <form #form="ngForm">
      <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
        <div style="display: flex; justify-content: space-between; width: 90%;">
          <input
            name="teamNumber"
            [(ngModel)]="selected.teamNumber"
            placeholder="Draft #"
            required
            style="margin-right: 5px; width: 40%;">
          <input
            name="firstName"
            [(ngModel)]="selected.firstName"
            placeholder="First Name"
            required>
        </div>
        <input name="lastName" [(ngModel)]="selected.lastName" placeholder="Last Name" required>
        <div style="margin-top: 10px; width: 90%;">
          <label>DOB</label>
        </div>
        <input name="birthday" [(ngModel)]="selected.birthday" required type="date">
        <div style="display: flex; justify-content: space-between; width: 90%;">
          <select name="gender" [(ngModel)]="selected.gender" required style="margin-right: 5px;">
            <option [ngValue]="modal==='add' ? undefined : null" disabled>Gender</option>
            <option [ngValue]="'Male'">Male</option>
            <option [ngValue]="'Female'">Female</option>
          </select>
          <input
            name="leagueAge"
            [(ngModel)]="selected.leagueAge"
            placeholder="Age"
            required>
        </div>
        <select name="division" [(ngModel)]="selected.division" required>
          <option [ngValue]="modal==='add' ? undefined : null" disabled>Division</option>
          <option [ngValue]="'8U'">8U</option>
          <option [ngValue]="'9U'">9U</option>
          <option [ngValue]="'10U'">10U</option>
          <option [ngValue]="'11U'">11U</option>
          <option [ngValue]="'12U'">12U</option>
          <option [ngValue]="'13U'">13U</option>
          <option [ngValue]="'14U'">14U</option>
          <option [ngValue]="'15U'">15U</option>
          <option [ngValue]="'16U'">16U</option>
          <option [ngValue]="'17U'">17U</option>
          <option [ngValue]="'18U'">18U</option>
          <option [ngValue]="'A'">A</option>
          <option [ngValue]="'AA'">AA</option>
          <option [ngValue]="'AAA'">AAA</option>
          <option [ngValue]="'Farm'">Farm</option>
          <option [ngValue]="'Majors'">Majors</option>
          <option [ngValue]="'Intermediate'">Intermediate</option>
          <option [ngValue]="'T-ball'">T-ball</option>
          <option [ngValue]="'Rookie'">Rookie</option>
        </select>
        <select name="team" [(ngModel)]="selected.teamId" required>
          <option [ngValue]="modal==='add' ? undefined : null" disabled>Team</option>
          <option *ngFor="let team of teams" [ngValue]="team.id">
            {{team.name}} - {{team.division}}
          </option>
        </select>
      </div>
      <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
        <input
          name="parentFirstName"
          [(ngModel)]="selected.parentFirstName"
          placeholder="Parent First Name"
          required>
        <input
          name="parentLastName"
          [(ngModel)]="selected.parentLastName"
          placeholder="Parent Last Name"
          required>
        <div style="margin-top: 10px; width: 90%;">
          <label>Parent Phone Number</label>
        </div>
        <div style="display: flex; width: 90%;">
          <input
            maxlength="3"
            name="area"
            [(ngModel)]="selected.area"
            placeholder="123"
            required
            style="margin-right: 5px;">
          <input
            maxlength="3"
            name="prefix"
            [(ngModel)]="selected.prefix"
            placeholder="456"
            required
            style="margin-right: 5px;">
          <input
            maxlength="4"
            name="line"
            [(ngModel)]="selected.line"
            placeholder="7890"
            required>
        </div>
        <input
          name="email"
          [(ngModel)]="selected.email"
          placeholder="Parent Email"
          required>
        <div style="margin-top: 10px; width: 90%;">
          <label>Check the following that apply:</label><br>
            <div 
              (click)="selected.pitcher = selected.pitcher === 'true' ? 'false' : 'true'"
              style="display: inline-block;">
              <i
                [ngClass]="selected.pitcher === 'true' ?
                  'ion-android-checkbox-outline' :
                  'ion-android-checkbox-outline-blank'"
                class="icon"
                style="font-size: 16px;">
              </i>
              <label>Pitcher</label>
            </div><br>
            <div 
              (click)="selected.catcher = selected.catcher === 'true' ? 'false' : 'true'"
              style="display: inline-block;">
              <i
                [ngClass]="selected.catcher === 'true' ?
                  'ion-android-checkbox-outline' :
                  'ion-android-checkbox-outline-blank'"
                class="icon"
                style="font-size: 16px;">
              </i>
              <label>Catcher</label>
            </div><br>
            <div 
              (click)="selected.coachsKid = selected.coachsKid === 'true' ? 'false' : 'true'"
              style="display: inline-block;">
              <i
                [ngClass]="selected.coachsKid === 'true' ?
                  'ion-android-checkbox-outline' :
                  'ion-android-checkbox-outline-blank'"
                class="icon"
                style="font-size: 16px;">
              </i>
              <label>Coach's Kid</label>
            </div><br>
        </div>
      </div>
    </form>

    <div style="display: flex; justify-content: center;">
      <button
        class="bg-gray btn"
        (click)="close()"
        style="color: white; margin-right: 20px;">
        Cancel
      </button>
      <button
        class="bg-blue btn"
        (click)="save()"
        [disabled]="!form.form.valid"
        [ngStyle]="{cursor: form.form.valid ? 'pointer' : 'not-allowed',
          opacity: form.form.valid ? 1.0 : 0.5}"
        style="color: white;">
        Save
      </button>
    </div>
    <p *ngIf="error" style="color: red; text-align: center;">{{error}}</p>
  </div>
</div>

<!-- Delete modal -->
<div class="modal" (click)="close()" *ngIf="modal==='delete'">
  <div
    (click)="stopPropagation($event)"
    class="modal-width"
    style="background-color: white; padding: 20px 50px;">
    <h2 style="text-align: center;">
      Deleting this player would delete their assessment results.<br><br>
      Are you sure you would like to delete {{selected.firstName}} {{selected.lastName}}?
    </h2>
    <div style="display: flex; justify-content: center;">
      <button
        class="bg-gray btn"
        (click)="close()"
        style="color: white; margin-right: 20px;">
        No
      </button>
      <button
        class="bg-blue btn"
        (click)="delete()"
        style="color: white;">
        Yes
      </button>
    </div>
    <p *ngIf="error" style="color: red; text-align: center;">{{error}}</p>
  </div>
</div>