<div class="bg-coach register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="../../../../../assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">Coaching History</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    Tell us about your history as a coach.<br><br>
    This will help us understand what team and division we can assign<br>
    you to give our players a great experience:
  </p>
  
  <form 
    (ngSubmit)="register()"
    #form="ngForm"
    style="align-items: flex-start; display: flex; justify-content: space-around;">

    <!-- Left Column -->
    <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
      <!-- Past League -->
      <input
        [(ngModel)]="session.newUser.pastLeague"
        name="pastLeague"
        placeholder="Past League"
        required
        type="text">

      <!-- Desired Coaching Div. -->
      <input
        [(ngModel)]="session.newUser.desired"
        name="desired"
        placeholder="Desired Coaching Div."
        required
        type="text">
    </div>

    <!-- Right Column -->
    <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
      <!-- Email -->
      <input
        [(ngModel)]="session.newUser.pastDivision"
        name="pastDivision"
        placeholder="Past Divisions Coached"
        required
        type="text">

      <!-- Phone Number -->
      <input
        [(ngModel)]="session.newUser.years"
        name="years"
        placeholder="Years of Experience"
        required
        type="text">

      <!-- Next -->
      <div style="display: flex; justify-content: flex-end; margin-top: 10%; width: 50%;">
        <button class="bg-green btn" [disabled]="!form.form.valid" type="submit">Finish</button>
      </div>

    </div>
    
  </form>
</div>