<div class="bg-coach register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">Coaching History</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    Tell us about your history as a coach.<br><br>
    This will help us understand what team and division we can assign<br>
    you to give our players a great experience:
  </p>
  
  <form 
    (ngSubmit)="register()"
    #form="ngForm"
    style="align-items: flex-start; display: flex; justify-content: space-around;">

    <!-- Left Column -->
    <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
      <!-- Past League -->
      <input
        [(ngModel)]="session.newUser.pastLeague"
        name="pastLeague"
        placeholder="Past League"
        required
        type="text">

      <!-- Desired Coaching Div. -->
      <select name="division" [(ngModel)]="session.newUser.division" required>
        <option [ngValue]="undefined" disabled>Desired Coaching Div.</option>
        <option [ngValue]="'8U'">8U</option>
        <option [ngValue]="'9U'">9U</option>
        <option [ngValue]="'10U'">10U</option>
        <option [ngValue]="'11U'">11U</option>
        <option [ngValue]="'12U'">12U</option>
        <option [ngValue]="'13U'">13U</option>
        <option [ngValue]="'14U'">14U</option>
        <option [ngValue]="'15U'">15U</option>
        <option [ngValue]="'16U'">16U</option>
        <option [ngValue]="'17U'">17U</option>
        <option [ngValue]="'18U'">18U</option>
        <option [ngValue]="'A'">A</option>
        <option [ngValue]="'AA'">AA</option>
        <option [ngValue]="'AAA'">AAA</option>
        <option [ngValue]="'Farm'">Farm</option>
        <option [ngValue]="'Majors'">Majors</option>
        <option [ngValue]="'Intermediate'">Intermediate</option>
        <option [ngValue]="'T-ball'">T-ball</option>
        <option [ngValue]="'Rookie'">Rookie</option>
      </select>
    </div>

    <!-- Right Column -->
    <div style="align-items: center; display: flex; flex: 1; flex-direction: column;">
      <!-- Experience -->
      <select name="yearsExperience" [(ngModel)]="session.newUser.yearsExperience" required>
        <option [ngValue]="undefined" disabled>Years of Experience</option>
        <option [ngValue]="0">0</option>
        <option [ngValue]="1">1</option>
        <option [ngValue]="2">2</option>
        <option [ngValue]="3">3</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="5">5</option>
        <option [ngValue]="6">6</option>
        <option [ngValue]="7">7</option>
        <option [ngValue]="8">8</option>
        <option [ngValue]="9">9</option>
        <option [ngValue]="10">10+</option>
      </select>


      <!-- Past Divisions Coached -->
      <div style="margin-bottom: 2%; width: 50%;">
        <label>Past Divisions Coached</label>
      </div>
      <select multiple name="pastDivisons" [(ngModel)]="session.newUser.pastDivisions" required>
        <option [ngValue]="'8U'">8U</option>
        <option [ngValue]="'9U'">9U</option>
        <option [ngValue]="'10U'">10U</option>
        <option [ngValue]="'11U'">11U</option>
        <option [ngValue]="'12U'">12U</option>
        <option [ngValue]="'13U'">13U</option>
        <option [ngValue]="'14U'">14U</option>
        <option [ngValue]="'15U'">15U</option>
        <option [ngValue]="'16U'">16U</option>
        <option [ngValue]="'17U'">17U</option>
        <option [ngValue]="'18U'">18U</option>
        <option [ngValue]="'A'">A</option>
        <option [ngValue]="'AA'">AA</option>
        <option [ngValue]="'AAA'">AAA</option>
        <option [ngValue]="'Farm'">Farm</option>
        <option [ngValue]="'Majors'">Majors</option>
        <option [ngValue]="'Intermediate'">Intermediate</option>
        <option [ngValue]="'T-ball'">T-ball</option>
        <option [ngValue]="'Rookie'">Rookie</option>
      </select>

      <!-- Next -->
      <div style="display: flex; align-items: flex-end; flex-direction: column; margin-top: 10%; width: 50%;">
        <button
          class="bg-green btn"
          [disabled]="!form.form.valid"
          [ngStyle]="{cursor: form.form.valid ? 'pointer' : 'not-allowed',
            opacity: form.form.valid ? 1.0 : 0.5}"
          type="submit">
          Finish
        </button>
        <p style="color: red; text-align: center;">{{error}}</p>
      </div>

    </div>
    
  </form>
</div>