/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
}

button {
  cursor: pointer;
}

/* Big screens */
@media only screen and (min-width: 768px) {
  .hide-if-big {
    display: none;
  }

  .modal-width {
    width: 50%;
  }
}

/* Small screens */
@media only screen and (max-width: 767px) {
  .hide-if-small {
    display: none;
  }

  .modal-width {
    width: 100%;
  }
}

.btn {
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 5%;
  padding: 10px;
  width: 150px;
}

.bg-blue {
  background-color: #0055a5;
}

.bg-gray {
  background-color: #787878;
}

.bg-green {
  background-color: #8cc63e;
}

.bg-about {
  background-image: url('assets/background-about.png');
  background-size: cover;
}

.bg-coach {
  background-image: url('assets/background-coach.png');
  background-size: cover;
}

.bg-league {
  background-image: url('assets/background-league.png');
  background-size: cover;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.register {
  bottom: 0;
  color: white;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
}