<div class="bg-league register">
  <div style="align-items: flex-end; display: flex; margin: 1%;">
    <div style="display: flex; flex: 1; justify-content: center;">
      <a routerLink="/">
        <img src="../../../../../assets/logo-no-text.png">
      </a>
    </div>
    <div style="flex: 2;">
      <h1 style=" font-size: 40px; margin: 5% 0%; text-align: center;">Forgot Your League Login?</h1>
    </div>
    <div style="flex:1"></div>
  </div>

  <p style="font-size: 20px; margin: 5% 0%; text-align: center;">
    Please submit the form below to have a password reset sent to your email account.
  </p>
  
  <form 
    (ngSubmit)="submit()"
    #form="ngForm"
    style="align-items: center; display: flex; flex-direction: column;">
    <div>
      <input
        name="email"
        [(ngModel)]="user.email"
        placeholder="Email Address"
        required
        type="text">
      <select name="league" [(ngModel)]="user.league" required>
        <option [ngValue]="undefined" disabled>Choose Your League</option>
        <option *ngFor="let league of leagues" [ngValue]="league">
          {{league.leagueName}} - {{league.city}}, {{league.state}}
        </option>
      </select>
      <button 
        class="bg-blue btn"
        [disabled]="!form.form.valid"
        *ngIf="!success"
        [ngStyle]="{cursor: form.form.valid ? 'pointer' : 'not-allowed',
          opacity: form.form.valid ? 1.0 : 0.5}"
        style="width: 100%;"
        type="submit">
        Request Password Reset
      </button>
      <p *ngIf="success" style="text-align: center;">
        A new password has been sent to your email.<br>
        Please make sure to update your password after logging in.
      </p>
      <p *ngIf="error" style="color: red; text-align: center;">{{error}}</p>
    </div>
  </form>
</div>