input, select {
  border-radius: 5px;
  border-width: 0px;
  box-sizing: border-box;
  margin-bottom: 2%;
  padding: 10px;
  width: 100%;
}

#reset {
  cursor: pointer;
  font-size: 12px;
  margin: 10px 0px;
  text-align: center;
  text-decoration: underline;
}