<div style="height: 100%; display: flex; flex-direction: column;">
  <div style="flex: 1; display: flex; justify-content: space-between; padding: 25px;">
    <h1>Account Settings</h1>
    <div>
      <h5 (click)="session.logout()" style="color: #0055a5; cursor: pointer;">
        Logout</h5>
    </div>
  </div>

  <div style="background-color: #f0f1f2; flex: 11; display: flex; flex-direction: column; padding: 20px;">
    <div style="background-color: white; display: flex; height: 100%; overflow: auto; padding: 25px;">
      <form (submit)="updateLeague()" style="display:flex; flex: 1; flex-direction: column;">
        <h4>Account Details</h4>
        <input name="firstName" [(ngModel)]="league.firstName" placeholder="First Name" required>
        <input name="lastName" [(ngModel)]="league.lastName" placeholder="Last Name" required>
        <input name="leagueName" [(ngModel)]="league.leagueName" placeholder="League Name" required>
        <input name="email" [(ngModel)]="league.email" placeholder="Email Address" required>
        <input name="number" [(ngModel)]="league.phoneNumber" placeholder="Phone Number" required>        
        
        <!-- City, State -->
        <div style="display: flex; justify-content: space-between; width: 75%;">
          <div style="flex: 2; margin-right: 5px;">
            <input name="city" [(ngModel)]="league.city" placeholder="City" required style="width: 100%">
          </div>
          <div style="flex: 1">
            <input
              name="state"
              [(ngModel)]="league.state"
              maxLength="2"
              placeholder="State"
              required
              style="width: 100%">
          </div>
        </div>        
        
        <button class="bg-blue btn" style="color: white; margin-top: 20px; width: 75%;" type="submit">
          Save Account Information
        </button>
        <p *ngIf="accountError" style="color: red; max-width: 75%; text-align: center;">
          {{accountError}}
        </p>
        <p *ngIf="accountSuccess" style="color: #0055a5; max-width: 75%; text-align: center;">
          Successfully updated your account information!
        </p>
      </form>
      <form (submit)="updatePassword()" style="display:flex; flex: 1; flex-direction: column;">
        <h4>Change Password</h4>
        <input
          name="oldPassword"
          [(ngModel)]="password.oldPassword"
          placeholder="Old Password"
          type="password"
          required>
        <input
          name="newPassword"
          [(ngModel)]="password.newPassword"
          placeholder="New Password"
          type="password"
          required>
        <input
          name="confirmNewPassword"
          [(ngModel)]="password.confirmNewPassword"
          placeholder="Confirm New Password"
          type="password"
          required>
        <button class="bg-blue btn" style="color: white; margin-top: 20px; width: 75%;" type="submit">
          Save New Password
        </button>
        <p *ngIf="passwordError" style="color: red; max-width: 75%; text-align: center;">
          {{passwordError}}
        </p>
        <p *ngIf="passwordSuccess" style="color: #0055a5; max-width: 75%; text-align: center;">
          Successfully updated your password!
        </p>
      </form>
    </div>
  </div>
</div>