<div style="height: 100%; display: flex; flex-direction: column;">
  <div style="flex: 1; display: flex; justify-content: space-between; padding: 25px;">
    <h1>Tryout Dates</h1>
    <div>
      <h5 (click)="tryouts.push({})" style="color: #0055a5; cursor: pointer">
        Add another date
      </h5>
    </div>
  </div>
  
  <div style="background-color: #f0f1f2; flex: 11; display: flex; flex-direction: column; padding: 20px;">
    <form (ngSubmit)="submit()" #form="ngForm">
      <div style="align-items: center; display: flex; flex-direction: column; justify-content: center;">
        
        <p style="font-weight: bold; font-size: 12px; margin-bottom: 20px;">
          Note that deleting a tryout date will unassign players to that tryout date.
        </p>
        
        <div *ngFor="let tryout of tryouts; let index = index;" [attr.data-index]="index">

          <span (click)="tryouts.splice(index, 1)">Remove</span>

          <!-- Date & Time -->
          <div style="align-items: baseline; display: flex;">
            <select name="mm{{index}}" [(ngModel)]="tryout.mm" required>
              <option [ngValue]="undefined" disabled>month</option>
              <option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
            </select>
            
            <p>&nbsp;/&nbsp;</p>
            
            <select name="dd{{index}}" [(ngModel)]="tryout.dd" required>
              <option [ngValue]="undefined" disabled>day</option>
              <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
            </select>
            
            <p>&nbsp;/&nbsp;</p>
            
            <select name="yyyy{{index}}" [(ngModel)]="tryout.yyyy" required>
              <option [ngValue]="undefined" disabled>year</option>
              <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
            </select>             
            
            <p>&nbsp;at&nbsp;</p>
            
            <select name="hh{{index}}" [(ngModel)]="tryout.hh" required>
              <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}</option>
            </select>
            
            <p>&nbsp;:&nbsp;</p>
            
            <select name="min{{index}}" [(ngModel)]="tryout.min" required>
              <option *ngFor="let minute of minutes" [ngValue]="minute">{{minute}}</option>
            </select>
          </div>
          
          <!-- Address -->
          <div style="display: flex; justify-content: center; margin-top: 5px;">
            <input
              [(ngModel)]="tryout.address"
              name="address{{index}}"
              placeholder="123 Fake St., San Jose, CA 95127"
              required
              style=" width: 100%;"
              type="text">
          </div>
        </div>
      
        <button
          class="bg-blue btn"
          [disabled]="!form.form.valid"
          [ngStyle]="{cursor: form.form.valid && tryouts.length > 0 ? 'pointer' : 'not-allowed',
            opacity: form.form.valid && tryouts.length > 0? 1.0 : 0.5}"
          style="color: white;"
          type="submit">
          Save
        </button>

        <p *ngIf="success" style="text-align: center;">Saved!</p>
        <p style="color: red; text-align: center;">{{error}}</p>

        </div>
    </form>
  </div>
</div>